#contents{
	width: 1140px;
	margin: 0 auto;
	margin-top: 100px;
	
}

.grid1{
	width: 90px;
	
}

.grid2{
	width: 185px;
	
}

.grid3{
	width: 280px;
	height: 220px;
	border: 1px solid #b5c8e1;
	
}

.grid4{
	width: 375px;
	
}

.grid5{
	width: 470px;
	
}

.grid6{
	width: 565px;
	
}

.grid9{
	width: 850px;
	
}

.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid9{
	float: left;
	display: inline;
	margin-left: 5px;
	
}

#side_menu{
	background-color: #317AD9;
	height: 1000px;
	
}

.first{
	clear: left;
	margin-left: 0;	
	
}


#infoPan{
	/*background-color: #450607;
	/*height: 1000px;*/
	
}

