.grid1{
	width: 90px;
	
}

.grid2{
	width: 185px;
	
}

.grid3{
	width: 280px;
	height: 220px;
	border-bottom: 3px solid #000;
	
}

.grid4{
	width: 375px;
	
}

.grid5{
	width: 470px;
	
}

.grid6{
	width: 565px;
	
}

.grid9{
	width: 850px;
	
}

.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid9{
	float: left;
	display: inline;
	margin-left: 5px;
	
}

#first{
	clear: left;
	margin-right: 0;
	background-color: #317AD9;
	height: 1000px;
	
}

.second{
	/*background-color: #450607;*/
	height: 1000px;
	
}

